@page "/"
@using GameStore.Frontend.Models;

<PageTitle>Home</PageTitle>

<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release Date</th>
        <th></th>
    </thead>
    <tbody>
        @foreach(var game in games) {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td>@game.Price</td>
                <td>@game.ReleaseDate</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private GameSummary[] games = [
        new() {
            Id = 1,
            Name = "Genshin Impact",
            Genre = "Exploration",
            Price = 0M,
            ReleaseDate = new DateOnly(2020, 9, 28)
        },
        new() {
            Id = 2,
            Name = "Honkai StarRail",
            Genre = "Exploration",
            Price = 0M,
            ReleaseDate = new DateOnly(2023, 4, 26)
        },
        new() {
            Id = 3,
            Name = "Zenless Zone Zero",
            Genre = "Fighting",
            Price = 0M,
            ReleaseDate = new DateOnly(2024, 7, 4)
        }
    ];
}
    
